{% extends "complaints/base.html" %}
{% block content %}

<div class="container mt-5 p-4" style="background:white; border-radius:12px; width:70%;">
    <h2>Your Complaints</h2>
    <hr>

    {% if complaints %}
        <ul>
            {% for c in complaints %}
                <li style="margin-bottom:20px;">
                    <strong>{{ c.title }}</strong> 
                    <span style="color:green;">({{ c.status }})</span>
                    <br>
                    <p>{{ c.description }}</p>

                    {% if c.reply %}
                        <div style="background:#f0f7ff; padding:10px; border-left:4px solid #2b53ff; border-radius:5px;">
                            <strong>Admin Reply:</strong><br>
                            {{ c.reply }}
                        </div>
                    {% endif %}

                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No complaints submitted.</p>
    {% endif %}
</div>

{% endblock %}
